PYTHONUNBUFFERED=1

FLASK_SECRET_KEY=YOUR_FLASK_SECRET_KEY

MYSQL_ROOT_PASSWORD=YOUR_DATABASE_PASSWORD
MYSQL_DATABASE=YOUR_DATABASE_USERNAME
DATABASE_URL=mysql+pymysql://root:${MYSQL_ROOT_PASSWORD}@db:3306/${MYSQL_DATABASE}

SECURITY_PEPPER=YOUR_SECURITY_PEPPER