body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont;
  background: #f5f7fa;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1200px;
  margin: auto;
  padding: 2rem;
}

table {
  width: 100%;
  border-collapse: collapse;
  background: white;
}

th {
  background: #2c3e50;
  color: white;
  text-align: left;
}

th, td {
  padding: 0.75rem;
  border-bottom: 1px solid #eee;
}

tr:hover {
  background: #f0f4ff;
}

.navbar .nav-link.active{
  font-weight: 700;
  position: relative;
}

.navbar .nav-link.active::after{
  content: "";
  position: absolute;
  left: .5rem;
  right: .5rem;
  bottom: -0.25rem;
  height: 2px;
  background: currentColor;
  opacity: .9;
  border-radius: 2px;
}

.genre{
  display: inline-block;
  padding: 4px 10px;
  margin: 2px 4px 2px 0;
  border-radius: 8px;
  white-space: nowrap;

  background: #9e9e9e;
  color: #0a1118;
  font-size: 0.85rem;
  font-weight: 600;
}

.section-divider {
  border-top: 1px dashed #dee2e6;
  margin: 20px 0;
  padding-top: 20px;
}

.register-container { max-width: 400px; margin-top: 10vh; }

#chord-chart svg {
  display: block;
  margin: auto;
  max-width: 100%;
  height: auto;
}

.chord-ribbon:hover {
  fill-opacity: 1 !important;
  stroke: #333;
  stroke-width: 1px;
}

/* Custom legend styling */
.legend-bar {
  height: 12px;
  width: 100%;
  background: linear-gradient(to right, #ffffd9, #41b6c4, #081d58);
  border-radius: 2px;
  margin-bottom: 5px;
}

#heatmap {
  width: 100%;
  height: 720px;
}

/* Sidebar Comment Styling */
.comment-box {
  max-height: 300px;
  overflow-y: auto;
  background: #f8f9fa;
  border-radius: 8px;
  padding: 10px;
  border: 1px solid #e9ecef;
}

.comment-item {
  font-size: 0.85rem;
  padding: 8px;
  margin-bottom: 8px;
  background: white;
  border-radius: 6px;
  box-shadow: 0 1px 2px rgba(0,0,0,0.05);
}

.comment-meta {
  font-size: 0.75rem;
  color: #6c757d;
  display: flex;
  justify-content: space-between;
}

/* if not assigned, default is gray */
.genre-comedy { background: #ffe08a; }
.genre-crime  { background: #73a2e9; }
.genre-drama  { background: #d1e7dd; }
.genre-animation { background: #f8d7da; }
.genre-war { background: #bc99da; }
.genre-sci-fi { background: #86e1f5; }
.genre-romance { background: #f5a3b0; }
.genre-film-noir { background: #f5cda3; }
.genre-thriller { background: #f5e38a; }
.genre-horror { background: #f28c8c; }
.genre-mystery { background: #a0d995; }
.genre-imax { background: #cfd2d8; }
.genre-adventure { background: #ffcc80; }

/* Movie title link styling */
.movie-title-link {
  color: #000;
  text-decoration: underline;
}

.movie-title-link:hover {
  color: #000;
  text-decoration: underline;
}